.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

.logo {
  width: 150px;
}
.nav-items > ul {
  display: flex;
  font-size: 18px;
  list-style: none;
}

.nav-items > ul > li {
  padding: 10px;
  margin: 0px 15px;
  color: #333;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}

.nav-items > ul > li:hover {
  cursor: pointer;
  color: #f00;
  transform: translateY(-3px);
}

.nav-items > ul > li:last-child {
  margin-right: 0;
}

.nav-items > ul > li.active {
  color: #f00;
  border-bottom: 2px solid #f00;
}

.nav-logo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  position: relative;
  top: -5px;
  justify-content: flex-start;
}

/* BODy Restuarant Card */

.res-card {
  margin: 20px;
  padding: 10px;
  width: 250px;
  /* height: 370px; */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.res-card:hover {
  cursor: pointer;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.res-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.res-image {
  height: 200px;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.res-name {
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
}

.filter-btn {
  display: inline-flex;
  align-items: center;
  font-size: 14px;
  color: #777;
  border: 1px solid #777;
  border-radius: 5px;
  padding: 6px 8px;
  margin-left: 950px;
  margin-top: -30px;
  background-color: transparent;
  transition: background-color 0.2s ease-in-out;
  cursor: pointer;
}
.filter-btn:hover {
  background-color: #f4f4f4;
  color: #777;
  border-color: #777;
}

.search-btn {
  margin-right: 10px;
  font-size: 14px;
  color: #777;
  border: 1px solid #777;
  border-radius: 5px;
  padding: 6px 8px;
  background-color: transparent;
  transition: background-color 0.2s ease-in-out;
  cursor: pointer;
}

.search-btn:hover {
  background-color: #f4f4f4;
  color: #777;
  border-color: #777;
}
.search-input {
  display: inline-flex;
  align-items: center;
  font-size: 14px;
  color: #777;
  margin-top: 12px;
  border: 1px solid #777;
  border-radius: 5px;
  padding: 6px 8px;
  margin-right: 5px;
  background-color: transparent;
  transition: background-color 0.2s ease-in-out;
}

/* Ratings */
.res-rating {
  display: flex;
  align-items: center;
  margin-top: -50px;
}

.res-rating i {
  color: #f9c74f;
  margin-left: 205px;
  font-size: 0em;
}

.res-rating span {
  font-size: 0.5em;
  font-weight: 600;
  /* margin-left: 5px; */
  color: #fff;
  padding: 3px 8px;
  background-color: #4caf50;
  border-radius: 3px;
  border: 1px solid #4caf50;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-family: "Roboto", sans-serif;
}

.deliveryTime {
  position: absolute;
  bottom: 0;
  left: 0;
}

.res-cuisine {
  margin-top: 5px;
  font-size: 14px;
  color: #777;
}

.res-price {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
}

.res-order:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.res-order {
  width: 90px;
  height: 30px;
}

.res-price button {
  background-color: #f9c74f;
  color: white;
  padding: 2px 10px;
  border: none;
  border-radius: 1px;
  font-size: 14px;
  cursor: pointer;
}

.res-price span {
  font-size: 15px;
  font-weight: bold;
  color: #d5ab16;
}
