/* styles.css */

.btn {
    font-size: 14px;
    font-weight: 500;
    padding: 8px 16px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
  }
  
  @media (max-width: 320px) {
    /* Adjust styles for iPhone SE or similar devices */
    .btn {
      width: 100%;
    }
  }
  
  /* styles.css */
  
  /* ... other styles */
  
  /* Update the styles for input elements */
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%; /* Set width to 100% to make it responsive */
    padding: 0.5rem;
    border: 1px solid #000;
    border-radius: 0.375rem;
    margin-bottom: 0.5rem;
    box-sizing: border-box; /* Include padding and border in the width calculation */
  }
  
 
  .max-width-container {
    max-width: 400px; /* Set the desired maximum width */
    margin: auto; /* Center the container */
    padding: 0 1rem; /* Add some padding for better readability */
  }
  
  .form-group label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
  }
  
  /* Adjust styles for smaller screens */
  @media (max-width: 768px) {
    .max-width-container {
      max-width: 100%; /* Adjust maximum width for smaller screens */
      padding: 0 0.5rem; /* Adjust padding for better readability */
    }
  
    .form-group label {
      width: 100%; /* Make labels fill the width */
      box-sizing: border-box; /* Include padding and border in the width calculation */
    }
  }
  