/* dark.css */
/* Dark mode specific styles */
body.dark-mode {
    background-color: #121212;
    color: #ffffff;
  }
  
  /* Example dark mode styles for specific elements */
  /* Modify as needed */
  .dark-mode .navbar {
    background-color: #121212;
    color: #ffffff;
  }
  
  .dark-mode .menu-item {
    color: #ffffff;
  }
  
  .light-mode-card {
    /* Define your light mode styles here */
    background-color: #ffffff; /* Example background color for light mode */
    color: #000000; /* Example text color for light mode */
    /* Add any other styles specific to light mode */
  }
  